.breadcrumbs__list  {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
.breadcrumbs__item  {
    display: flex;
    align-items: center;
    color: #dfb56d;
    font-size: 14px;
  }
  
.breadcrumbs__item--active .breadcrumbs__link {
    color: #999999;
    text-decoration: none;
  }
  
.breadcrumbs__link--active  {
    color: #999999;
    text-decoration: none;
  }
  
.breadcrumbs__item:after  {
    content: "/";
    text-decoration: none;
  }
  
.breadcrumbs__item:last-child::after  {
    content: none;
  }